.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .wrapper .all-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto; }
    .wrapper .all-content-wrapper .about-me-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 940px;
      margin-bottom: 60px; }
      .wrapper .all-content-wrapper .about-me-wrapper .about-me-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0px; }
        .wrapper .all-content-wrapper .about-me-wrapper .about-me-title .about-me-title-big {
          font-family: fira_sansmedium;
          font-weight: normal;
          font-size: 42px;
          margin: 0px;
          padding-top: 54px; }
        .wrapper .all-content-wrapper .about-me-wrapper .about-me-title .about-me-title-small {
          font-family: fira_sanslight;
          font-size: 21px;
          margin: 0px;
          padding-top: 12px; }
      .wrapper .all-content-wrapper .about-me-wrapper .about-me-content {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .wrapper .all-content-wrapper .about-me-wrapper .about-me-content .about-me-text {
          margin: 0px 25px 0px 0px;
          width: 270px; }
          .wrapper .all-content-wrapper .about-me-wrapper .about-me-content .about-me-text .about-me-text-big {
            font-family: fira_sansregular;
            font-size: 21px;
            margin: 0px;
            padding-top: 32px; }
          .wrapper .all-content-wrapper .about-me-wrapper .about-me-content .about-me-text .about-me-text-small {
            font-family: fira_sanslight;
            font-size: 14px;
            margin: 0px;
            padding-top: 10px;
            text-align: left; }
        .wrapper .all-content-wrapper .about-me-wrapper .about-me-content .about-me-photo {
          margin: 30px 12px 30px 0px;
          width: 138px;
          height: 120px; }
          .wrapper .all-content-wrapper .about-me-wrapper .about-me-content .about-me-photo img {
            width: 100%;
            height: auto; }
    .wrapper .all-content-wrapper .content-wrapper {
      background: url(../img/gplaypattern.png);
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .wrapper .all-content-wrapper .content-wrapper .content-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 960px;
        padding-bottom: 96px; }
        .wrapper .all-content-wrapper .content-wrapper .content-box .content-title {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding-top: 70px; }
          .wrapper .all-content-wrapper .content-wrapper .content-box .content-title .content-title-big {
            display: flex;
            align-items: center;
            font-family: fira_sansmedium;
            font-weight: normal;
            font-size: 42px;
            margin: 0px; }
          .wrapper .all-content-wrapper .content-wrapper .content-box .content-title .content-title-small {
            font-family: fira_sanslight;
            font-size: 21px;
            margin: 0px;
            margin-top: 10px; }
        .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding: 29px; }
          .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive {
            position: relative;
            background-color: #ECF4E2;
            margin: 10px 10px 23px;
            width: 275px;
            box-shadow: 2px 2px 5px grey; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .courseImage {
              opacity: 0.5;
              width: 100%; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .courseImage img {
                width: 100%;
                height: auto; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .greenLine {
              background-color: #8cc34b;
              height: 5px;
              width: 275px;
              position: absolute;
              top: 152px;
              z-index: 1;
              opacity: 0.0; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-content {
              padding: 14px 20px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-content .no-greenHeading {
                font-family: fira_sansregular;
                font-size: 21px;
                margin: 0px;
                padding-bottom: 8px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-content .course-text {
                font-family: fira_sanslight;
                font-size: 14px;
                margin: 0px;
                padding-bottom: 26px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-content .duration {
                font-family: fira_sanslight;
                font-size: 14px;
                color: grey; }
                .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-content .duration .fa-clock-o {
                  padding-right: 5px; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-check {
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-weight: 400;
              color: gray;
              font-size: 21px;
              background-color: #F6F7F2;
              height: 60px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-check .green-text {
                font-family: fira_sansregular;
                font-size: 18px;
                margin: 0px;
                color: #8cc34b; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .courseInactive .row-check .fa {
                color: #8cc34b;
                margin-right: 20px;
                cursor: pointer; }
          .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course {
            position: relative;
            background-color: #ffffff;
            margin: 10px 10px 23px;
            width: 275px;
            box-shadow: 2px 2px 5px grey; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .courseImage {
              width: 100%; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .courseImage img {
                width: 100%;
                height: auto; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .greenLine {
              background-color: #8cc34b;
              height: 5px;
              width: 275px;
              position: absolute;
              top: 152px;
              z-index: 1;
              opacity: 0.0; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-content {
              padding: 14px 20px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-content .greenHeading {
                font-family: fira_sansregular;
                font-size: 21px;
                margin: 0px;
                padding-bottom: 8px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-content .course-text {
                font-family: fira_sanslight;
                font-size: 14px;
                margin: 0px;
                padding-bottom: 26px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-content .duration {
                font-family: fira_sanslight;
                font-size: 14px;
                color: grey; }
                .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-content .duration .fa-clock-o {
                  padding-right: 5px; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-check {
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-weight: 400;
              color: gray;
              font-size: 21px;
              background-color: #F6F7F2;
              height: 60px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-check .green-text {
                font-family: fira_sansregular;
                font-size: 18px;
                  font-size-color: #ffffff;
                  font-size-margin: 0px; }
              .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .course .row-check .fa {
                margin-right: 20px;
                cursor: pointer; }
          .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .row-finished {
            display: none;
            color: #8cc34b;
            align-items: center;
            height: 1000px; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .row-finished .row-finished-fa i {
              font-size: 32.69px;
              padding-right: 40px; }
            .wrapper .all-content-wrapper .content-wrapper .content-box .content-inner .row-finished .row-finished-text h1 {
              font-family: fira_sansmedium;
              font-size: 41.63px;
              font-weight: normal; }
