.container__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8cc34b;
  height: 72px;
  -webkit-box-shadow: -5px 4px 5px #cecece;
          box-shadow: -5px 4px 5px #cecece;
  margin-bottom: 10px;
  display: flex;
  padding: 10px; }
  .container__header .header__data .header__data__big {
    font-family: fira_sansmedium;
    font-weight: normal;
    font-size: 21px;
    color: white;
    margin: 0px; }
  .container__header .header__data .header__data__small {
    font-family: fira_sansregular;
    font-size: 14px;
    color: white;
    margin: 0px; }
  .container__header .header__photo {
    border: 2px solid white;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    height: 55px;
    width: 55px; }
    .container__header .header__photo .avatar {
      width: 100%;
      vertical-align: middle; }
  .container__header .header__socials {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .container__header .header__socials .header__socials-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding-top: 15px;
      padding-right: 10px; }
      .container__header .header__socials .header__socials-list .header__socials-item {
        padding: 8px; }
        .container__header .header__socials .header__socials-list .header__socials-item svg * {
          fill: rgba(255, 255, 255, 0.5);
          height: 30px;
          width: 10px; }
        .container__header .header__socials .header__socials-list .header__socials-item:hover svg * {
          fill: white; }
      .container__header .header__socials .header__socials-list .header__socials-item-vk {
        padding: 8px;
        margin-top: -4px; }
        .container__header .header__socials .header__socials-list .header__socials-item-vk svg * {
          fill: rgba(255, 255, 255, 0.5); }
        .container__header .header__socials .header__socials-list .header__socials-item-vk:hover svg * {
          fill: white; }
